
<div id="test3" class="col s12">
	<div class="container" ng-controller="imDetailController">
		<div class="row">
			<div class="s12 col">
				<br>
				<form class="forms forms-inline input-field ">
					<div>
						<input type="text" onfocus="tab();" class="input-big width-50 tab"
							id="query" ng-model="query"> <label for="query">Search
							Details</label>
					</div>
				</form>
				<ul class="collection">
					<li class="collection-item avatar animated fadeInUp"
						style="-webkit-animation-duration: {{$index* 300"
						ng-repeat="u in users | filter:query | orderBy:'user.username'">
						<a href="" ng-click="modalDetails(u.user)"
						class="modal-trigger title"><img
							ng-src="{{u.user.picture.thumbnail}}" alt="" class="circle">
							{{u.user.username}}</a>
						<p>{{u.user.location.city}}, {{u.user.location.state}}</p> <a
						href="#!" class="secondary-content" ng-click="removeUser(u)"><i
							class="small mdi-action-highlight-remove"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="modalDetails" class="modal bottom-sheet">
			<div class="modal-content">
				<div class="row">
					<div class="l2 col">
						<img ng-src="{{user.picture.medium}}" alt=""
							class="align-right circle">
					</div>
					<div class="l10 col">
						<h2>{{user.username}}</h2>
						<label>Email</label> {{user.email}} <br /> <label>Password</label>
						{{user.password}}
						<hr>
						<label>Phone</label> {{user.phone}} <br /> <label>Location</label>
						{{user.location.city}}, {{user.location.state}} <br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>