
<div id="test3" class="col s12">
	<div class="container" ng-controller="imDetailController">
		<div class="row">
			<div class="s12 col">
				<br>
				<form class="forms forms-inline input-field ">
					<div>
						<input type="text" onfocus="tab();" class="input-big width-50 tab"
							id="query" ng-model="query"> <label for="query">Search
							Details</label>
					</div>
				</form>
				<ul class="collection">
					<li class="collection-item avatar animated fadeInUp"
						style="-webkit-animation-duration: {{$index* 300"
						ng-repeat="tx in detail | filter:query | orderBy:'detail.transactionId'">
						<p href="" ng-click="modalDetails(tx.detail)"
						class="modal-trigger title">{{tx.message}}</p>
						<a	href="#!" class="secondary-content" ng-click="removeDetail(tx)"><i
							class="small mdi-action-highlight-remove"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>