<div id="test2" class="col s12">
	<div class="container" ng-controller="imInvController">
		<div class="row">
			<div class="s12 col">
				<br>
				<form class="forms forms-inline input-field ">
					<div>
						<input type="text" onfocus="tab();" class="input-big width-50 tab"
							id="query" ng-model="query"> <label for="query">Search
							Inventory</label>
					</div>
				</form>
				<ul class="collection">
					<li class="collection-item avatar animated fadeInUp"
						style="-webkit-animation-duration: {{$index* 300"
						ng-repeat="i in inventory | filter:query | orderBy:'inventory.inventoryName'">
						<a href="" ng-click="modalDetails(i.inventory)"
						class="modal-trigger title"><img
							ng-src="{{i.inventory.picture.thumbnail}}" alt="" class="circle">
							{{i.inventory.inventoryName}}</a>
						<p>{{i.inventory.serialNumber}}, {{i.inventory.type}}</p> <a
						href="#!" class="secondary-content" ng-click="removeInventory(i)"><i
							class="small mdi-action-highlight-remove"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="modalDetailsInv" class="modal bottom-sheet">
			<div class="modal-content">
				<div class="row">
					<div class="l2 col">
						<img ng-src="{{inventory.picture.medium}}" alt=""
							class="align-right circle">
					</div>
					<div class="l10 col">
						<h2>{{inventory.inventoryName}}</h2>
						<label>Type</label> {{inventory.type}} <br /> <label>Price</label>
						{{inventory.price}} <br />
						<hr>
						<label>Serial Number</label> {{inventory.serialNumber}}<br /> <label>Date
							of Purchase</label> {{inventory.purchaseDate}} <br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>