@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('../font/SinkinSans-200XLight-webfont.eot');
    src: url('../font/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SinkinSans-200XLight-webfont.woff') format('woff'),
         url('../font/SinkinSans-200XLight-webfont.ttf') format('truetype'),
         url('../font/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../font/SinkinSans-300Light-webfont.eot');
    src: url('../font/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../font/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../font/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../font/SinkinSans-400Regular-webfont.eot');
    src: url('../font/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../font/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../font/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../font/SinkinSans-600SemiBold-webfont.eot');
    src: url('../font/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../font/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../font/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../font/SinkinSans-700Bold-webfont.eot');
    src: url('../font/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SinkinSans-700Bold-webfont.woff') format('woff'),
         url('../font/SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('../font/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



.section{
	padding:75px;
}

.bold {
	font-weight:bold;
}
/* Milestone */

#milestone {
	width: 100%;
	overflow: hidden;
	z-index: 0;
	height:auto;
	display:table;
	#padding-bottom: 145px;
}

.fact {
	text-transform:uppercase;
	display:table-cell;
	vertical-align:middle;
}

.fact .timer {
	font-family:'sinkin_sans200_x_light'; 
	font-size:55px;
	line-height:55px;
}

.fact p {
	font-size:13px;
	font-family:'sinkin_sans700_bold';
	letter-spacing:1px;
}

.fact i {
	vertical-align:middle;
	margin:10px 0 5px 0;
}
.main-menu{
	margin:10px;
	background-color: #35404F;
	#z-index: -1;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 65px;
    cursor: pointer;
}